* {
  border: none;
  border-radius: 0;
  font-family:
    Jetbrains Mono Nerd Font,
    monospace;
  font-weight: bold;
  font-size: 14px;
  min-height: 0;
}

/* Waybar */
window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
}

/* Tooltip */
tooltip {
  background: #1e1e2e;
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #11111b;
}

/* Workspaces */
#workspaces {
  background: #1e1e2e;
  border-radius: 10px;
  margin-left: 10px;
}

#workspaces button {
  padding: 5px;
  color: #313244;
  margin-right: 5px;
}

#workspaces button.active {
  color: #a6adc8;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

/* Center and Right Panel */
#window,
#memory,
#network,
#pulseaudio,
#clock,
#battery,
#tray,
#custom-power {
  margin-right: 6px;
  background: #1e1e2e;
  border-radius: 10px;
  padding: 5px 10px;
}

/* Window */
#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

/* Clock */
#clock {
  color: #fab387;
  border-radius: 10px;
  margin-left: 5px;
  border-right: 0px;
}

/* Network */
#network {
  color: #f9e2af;
  border-left: 0px;
  border-right: 0px;
}

/* Pulseaudio */
#pulseaudio {
  color: #89b4fa;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #cba6f7;
  border-radius: 10px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 5px;
}

/* Battery */
#battery {
  color: #a6e3a1;
  border-radius: 10px;
  margin-right: 10px;
  border-left: 0px;
}

/* Tray */
#tray {
  border-radius: 10px;
  margin-right: 10px;
}
